html {
    font-size: 16px;
    background-image: repeating-linear-gradient(rgba(42, 248, 166, 1), rgba(82, 250, 199, 1), rgba(167, 56, 214, 1), rgba(214, 56, 56, 1));
    background-attachment: fixed;
    min-width: 28em;

}

/* Wrapps the inner content */
#wrapper {
    position: relative;
    margin-right: auto;
    max-width: 100%;
    padding-right: 1%;
    padding-left: 1%;
    border: 0.1rem solid black;
    border-radius: 0.6rem;
    background-color: dimgray;
    margin-left: 10%;
    margin-right: 10%;

}



a {
    text-decoration: none;


}

a:focus {
    color: aqua;

}

.back-button {
    font-size: 2rem;
    text-decoration: none;
    color: chocolate;
    border: 0.1rem solid black;
    border-radius: 1rem;
    background-color: black;
    position: relative;
    right: 0rem;
    bottom: 0rem;

}

footer {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
