html {
    font-size: 16px;
    background-image: url("../images/minecraft-wallpaper.png");
    background-attachment: fixed;
    justify-content: center;
    min-width: 35rem;
    

}

body {
   
    padding: 0rem;
    margin: 0rem;



}

/* Wrapps the content */
#wrapper {
    position: relative;
   
   
    padding-right: 1%;
    padding-left: 1%;
    border: 0.1rem solid black;
    border-radius: 0.6rem;
    background-color: dimgray;
    margin-left: 10%;
    margin-right: 10%;
    
}

/* removes the srollbar but keeps its functionality */
body::-webkit-scrollbar {

    display: none;

}

footer {

    display: block;
    margin-left: 10%;
    margin-right: 10%


}
